@(userForm: Form[controllers.Application.UserData])


@main("Examples") {

<h1>Page Header</h1>
<div class="row">
  <div class="col-md-6">
@twbs.pageHeader{
  Welcome to the page
}
  </div>
    <div class="col-md-6">

<pre class="prettyprint">
@@twbs.pageHeader{
  Welcome to the page
}</pre>
</div>
</div>

    <h1>Forms</h1>

    <h2>Normal</h2>
    @twbs.formhelper.form(routes.Application.formTest()) {
        @formcontent(userForm)
    }

    <h2>Normal but don't display hints at input for age</h2>
    @twbs.formhelper.form(routes.Application.formTest()) {
        @twbs.formhelper.inputText(userForm("name"))
        @twbs.formhelper.inputText(userForm("age"),'_hideInfo -> true)
        @twbs.formhelper.inputStatic(userForm("static"))
    }

    <h2>Inline</h2>
    @twbs.formhelper.form(routes.Application.formTest(), 'class -> "form-inline") {
        @formcontent(userForm)
    }

    <h2>Horizontal</h2>
    @twbs.formhelper.hForm(routes.Application.formTest(), "col-sm-2", "col-sm-10") { implicit formHorizontal =>
        @formcontent(userForm)
    }

    <h1>Buttons</h1>
    @twbs.buttons.buttonDefault("button") { Default }
    @twbs.buttons.buttonPrimary("button") { Primary }
    @twbs.buttons.buttonSuccess("button") { Success }
    @twbs.buttons.buttonInfo("button") { Info }
    @twbs.buttons.buttonWarning("button") { Warning }
    @twbs.buttons.buttonDanger("button") { Danger }
    @twbs.buttons.buttonLink("button") { Link }

    <h1>Alerts</h1>

    @twbs.alerts.alertSuccess {
        <strong>SUCCESS</strong> YEEEAH
    }

    @twbs.alerts.alertInfo {
        <strong>INFO</strong> YOU HAVE BEEN INFORMED
    }

    @twbs.alerts.alertWarning {
        <strong>WARNING</strong> YOU HAVE BEEN WARNED
    }

    @twbs.alerts.alertDanger {
        <strong>Danger</strong> DO SOMETHING
    }


    @twbs.alerts.alertSuccess {
        <strong>
            <strong>Click me -></strong>
            @twbs.alerts.alertLink("http://github.com/tuxBurner") {
                Visit me please :)
            }
            Thank you !!111!!
        </strong>
    }


    <h1>Panels</h1>

    <h2>Normal Panels</h2>

    @twbs.panels.panelPrimary(Html("<strong>Primary</strong>")) {
        PRIMARY INFORMATIONS
    }

    @twbs.panels.panelSuccess(Html("<strong>Success</strong>")) {
        SUCCESS
    }

    @twbs.panels.panelInfo(Html("<strong>Info</strong>")) {
        YOU HAVE BEEN INFORMED
    }

    @twbs.panels.panelWarning(Html("<strong>Warning</strong>")) {
        YOU HAVE BEEN WARNED
    }

    @twbs.panels.panelDanger(Html("<strong>Danger</strong>")) {
        DO SOMETHING
    }

    <h2>Panel with footer</h2>
    @twbs.panels.panelPrimary(Html("<strong>Primary</strong>"),Html("<strong>I am the footer</strong>")) {
        PRIMARY INFORMATIONS
    }

    <h1>Labels</h1>
    @twbs.labels.labelDefault{ Default }
    @twbs.labels.labelPrimary{Primary}
    @twbs.labels.labelSuccess{Success}
    @twbs.labels.labelInfo{Info}
    @twbs.labels.labelWarning{Warning}
    @twbs.labels.labelDanger{Danger}

    <h1>Badge</h1>
    <a href="#">
        Inbox
        @twbs.badge{42}
    </a>

    <h1>Jumbotron</h1>
    <h2>With title</h2>
    @twbs.jumbotron(Html("Welcome to TWBS")) {
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    }

    <h2>Without title</h2>
    @twbs.jumbotron() {
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    }

    <h1>Wells</h1>
    @twbs.wells.well {
        I am doing well.
    }

    @twbs.wells.wellLarge {
        I am doing well in large.
    }

    @twbs.wells.wellSmall {
        I am doing well in small.
    }

}