@(message: String)

@main("Welcome to Play") {

    @twbs.alerts.alertDanger {
        <strong>Danger</strong> DO SOMETHING
    }

    @twbs.alerts.alertInfo {
        <strong>INFO</strong> YOU HAVE BEEN INFORMED
    }

    @twbs.alerts.alertWarning {
        <strong>WARNING</strong> YOU HAVE BEEN WARNED
    }

    @twbs.alerts.alertSuccess {
        <strong>SUCCESS</strong> YEEEAH
    }

    @twbs.alerts.alertSuccess {
        <strong>
            <strong>Click me -></strong>
            @twbs.alerts.alertLink("http://github.com/tuxBurner") {
                Visit me please :)
            }
            Thank you !!111!!
        </strong>
    }

    @twbs.panels.panelDanger(Html("<strong>Danger</strong>")) {
        DO SOMETHING
    }

    @twbs.wells.well {
        I am doing well.
    }

    @twbs.wells.wellLarge {
        I am doing well in large.
    }

    @twbs.wells.wellSmall {
        I am doing well in small.
    }

}