@(elements: views.html.helper.FieldElements, horizontalForm: views.twbs.formhelper.FormHorizontal = null)
@import views.twbs.formhelper.FormHorizontal

@**************************************************
* Generate input according twitter bootsrap rules *
**************************************************@


@horizontalClasses=@{elements.args.get('_horizontal).headOption match {
    case Some(foo) => {
        val blubber = foo.asInstanceOf[Array[String]];
        new FormHorizontal(blubber(0), blubber(1));
    }
    case None => horizontalForm.asInstanceOf[FormHorizontal]
  }
}

<div class="form-group @elements.args.getOrElse('_formGroupClass,"") @if(elements.hasErrors){has-error}" id="@elements.args.toMap.get('_id).getOrElse(elements.id + "_field")">
  @if(elements.args.getOrElse('_hideLabel,false) == false) {
    <label class="control-label @if(horizontalClasses != null) { @horizontalClasses.labelClass}" for="@elements.id">@elements.label(elements.lang)</label>
  }
  <div  @if(horizontalClasses != null) { class="@horizontalClasses.inputClass"}>
    @elements.input
    <span class="help-block">
        @if(elements.args.getOrElse('_hideInfo,false) == false) {
          @elements.infos(elements.lang).mkString(",")
        }
        @elements.errors(elements.lang).mkString(", ")
    </span>
  </div>
</div>
