@**
* Prepare a generic HTML input.
*@
@(field: play.api.data.Field, args: (Symbol, Any)* )(inputDef: (String, String  , Option[String], Map[Symbol,Any], Boolean) => Html)(implicit lang: play.api.i18n.Lang,formHorizontal: FormHorizontal = null)
@id=@{args.toMap.get('id).map(_.toString).getOrElse(field.id)}
@views.html.twbs.formhelper.fieldConstructor(
    views.html.helper.FieldElements(
        id,
        field,
        inputDef(id, field.name, field.value, args.filter(arg => !arg._1.name.startsWith("_") && arg._1 != 'id && arg._1 != 'class).toMap, field.hasErrors),
        args.toMap,
        lang
    ),
    formHorizontal
)
