@**
* Generate an HTML textarea.
*
* Example:
* {{{
* @textarea(field = myForm("address"), args = 'rows -> 3, 'cols -> 50)
* }}}
*
* @param field The form field.
* @param args Set of extra attributes.
* @param handler The field constructor.
*@
@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang,formHorizontal: views.twbs.formhelper.FormHorizontal = null)

@input(field, args:_*) { (id, name, value, htmlArgs, error) =>
    <textarea class="form-control" id="@id" name="@name" @play.api.templates.PlayMagic.toHtmlArgs(htmlArgs.toMap)>@value</textarea>
}